# Your Rackspace username, API Key, and preferred region. The content service
# will use these to create two object storage containers.
export RACKSPACE_USERNAME=
export RACKSPACE_APIKEY=
export RACKSPACE_REGION=

# The names you want the content service to give your object storage containers.
export CONTENT_CONTAINER=deconst-content
export ASSET_CONTAINER=deconst-asset

# The content service's API Key. Used for write actions.
export ADMIN_APIKEY=

# A filesystem path (on your host machine) to the control repo for this site.
# This path will be mounted in the presenter container as a volume.
export CONTROL_REPO_PATH=

# The protocol and domain name associated with this site. The content service
# needs to know this to look up the correct content entries. This is especially
# useful when working locally, but you need to pose as your production site.
export PRESENTED_URL_PROTO=http
export PRESENTED_URL_DOMAIN=

# Determines how verbose the presenter's logs should be. One of:
# trace
# debug
# verbose
# info
# warn
# error
export PRESENTER_LOG_LEVEL=info
