# The content service URL
export CONTENT_SERVICE_URL=

# Set to "production" to simulate production more closely.
export NODE_ENV=development

export DOCKER_IMAGE=quay.io/deconst/presenter

# A filesystem path (on your host machine) to the control repo for this site.
# This path will be mounted in the presenter container as a volume.
export CONTROL_REPO_PATH=
export CONTROL_REPO_URL=

# The protocol and domain name associated with this site. The content service
# needs to know this to look up the correct content entries. This is especially
# useful when working locally, but you need to pose as your production site.
export PRESENTED_URL_PROTO=http
export PRESENTED_URL_DOMAIN=

# Determines how verbose the presenter's logs should be. One of:
# trace
# debug
# verbose
# info
# warn
# error
export PRESENTER_LOG_LEVEL=info

# Unset or change to "false" to disable log coloration
export PRESENTER_LOG_COLOR="true"

# Set to a non-empty value to enable diagnostic behavior, like triggering crashes at will.
export PRESENTER_DIAGNOSTICS="true"
